*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primaryColor: #34C5F3;
}
h4{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 110px;
}
h4 span{
    color: var(--primaryColor);
}
.mySwiper {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M901.3519988042007 561.4050092090961L1052.6115930707488 610.7116523641444 1026.075332255317 474.1944252172805z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M546.446%2c559.42C563.765%2c559.165%2c576.399%2c544.991%2c584.907%2c529.903C593.228%2c515.147%2c598.041%2c497.47%2c589.691%2c482.731C581.247%2c467.826%2c563.541%2c460.906%2c546.446%2c462.014C531.092%2c463.009%2c519.713%2c474.498%2c511.933%2c487.772C504.038%2c501.242%2c499.199%2c516.998%2c505.975%2c531.064C513.637%2c546.97%2c528.793%2c559.68%2c546.446%2c559.42' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M359.5331276026031 532.7271952748054L516.4748898386476 568.9600560342991 552.7077505981414 412.0182937982546 395.7659883620969 375.78543303876086z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M300.501%2c88.792C329.938%2c88.934%2c356.596%2c71.862%2c371.041%2c46.213C385.218%2c21.039%2c385.43%2c-10.21%2c370.021%2c-34.65C355.516%2c-57.656%2c327.697%2c-65.396%2c300.501%2c-65.667C272.703%2c-65.944%2c243.258%2c-59.644%2c228.544%2c-36.058C213.106%2c-11.311%2c216.562%2c20.27%2c231.127%2c45.54C245.712%2c70.846%2c271.293%2c88.652%2c300.501%2c88.792' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M419.051%2c224.315C463.855%2c223.583%2c512.269%2c217.621%2c536.314%2c179.809C561.788%2c139.751%2c557.08%2c87.192%2c531.804%2c47.009C508.054%2c9.252%2c463.656%2c-6.333%2c419.051%2c-6.609C373.866%2c-6.889%2c328.528%2c7.744%2c303.852%2c45.597C276.842%2c87.031%2c268.16%2c142.18%2c294.957%2c183.752C320.227%2c222.956%2c372.414%2c225.077%2c419.051%2c224.315' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M855.0648713632494 487.2507722411031L758.9392972390066 380.4925066235779 652.1810316214815 476.61808074782067 748.3066057457241 583.3763463653459z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1419.017%2c406.737C1464.108%2c405.824%2c1509.297%2c391.262%2c1533.274%2c353.064C1558.729%2c312.511%2c1558.964%2c261.536%2c1536.803%2c219.093C1512.798%2c173.118%2c1470.85%2c132.407%2c1419.017%2c134.233C1369.216%2c135.988%2c1338.73%2c183.217%2c1314.78%2c226.916C1292.076%2c268.34%2c1272.762%2c316.992%2c1296.452%2c357.86C1320.093%2c398.644%2c1371.886%2c407.691%2c1419.017%2c406.737' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M884.08 376.35 a164.39 164.39 0 1 0 328.78 0 a164.39 164.39 0 1 0 -328.78 0z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M120.73124210223091 409.28576395071L184.1967189096393 493.50729629965156 278.79627902934743 356.1983149140682z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1112.2063516743056 225.66420064511146L1199.8761204667492 262.87780964042247 1211.8616495634938 112.76635195410154z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M907.8394969577402 479.29010133851693L885.4003472363555 620.0966787727903 1002.5238803461523 577.4671989887323z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M468.3604665048959 276.507737956067L564.7237567529498 229.50822096066014 517.724239757543 133.1449307126062 421.36094950948905 180.14444770801302z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M864.52 439.09 a102.79 102.79 0 1 0 205.58 0 a102.79 102.79 0 1 0 -205.58 0z' fill='rgba(31%2c 167%2c 223%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .SwiperSlide {
    background-color: transparent ;
    backdrop-filter: blur(8px);
    text-align: center;
    font-size: 18px;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SwiperSlide a{
    text-decoration: none;
    color: black;
  }

.CardOne {
    width: 25rem;
    min-height: 50vh;
    border: 1px solid white;
    background-color: rgb(245, 245, 245);
    backdrop-filter: blur(6px);
    background-image: url(../assets/Creative-Design.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 0px 0px 20px 0px;
    background-position: top;
}

.CardTwo {
    width: 25rem;
    border: 2px solid white;
    min-height: 50vh;
    background-color: rgb(245, 245, 245);
    background-image: url(../assets/Web-Development.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 0px 0px 20px 0px;
    margin: 0px 10px;
    background-position: top;
}

.CardThree {
    width: 25rem;
    border: 2px solid white;
    min-height: 50vh;
    background-color: rgb(245, 245, 245);
    background-image: url(../assets/Digital-Marketing.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: top;
    padding: 0px 0px 20px 0px;
}
.CardFour {
    width: 25rem;
    border: 2px solid white;
    min-height: 50vh;
    background-color: rgb(245, 245, 245);
    background-image: url(../assets/Mobile-App.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 0px 0px 20px 0px;
    background-position: top;
}

.CardFive {
    width: 25rem;
    border: 2px solid white;
    min-height: 50vh;
    background-color: rgb(245, 245, 245);
    background-image: url(../assets/Video-Production.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 0px 0px 20px 0px;
    margin: 0px 10px;
    background-position: top;
}

.CardSix {
    width: 25rem;
    border: 2px solid white;
    min-height: 50vh;
    background-color: rgb(245, 245, 245);
    background-image: url(../assets/Content-Writing.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: top;
    padding: 0px 0px 20px 0px;
}
.CardSeven {
    width: 25rem;
    border: 2px solid white;
    min-height: 50vh;
    background-color: rgb(245, 245, 245);
    background-image: url(../assets/Cyber-Security.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: top;
    padding: 0px 0px 20px 0px;
}

.CardOne h1,
.CardTwo h1,
.CardThree h1,
.CardFour h1,
.CardFive h1,
.CardSix h1,
.CardSeven h1 {
    font-size: 20px;
    padding: 130px 0px 0px 0px;
    text-align: center;
}

.CardOne p,
.CardTwo p,
.CardThree p,
.CardFour p,
.CardFive p,
.CardSix  p,
.CardSeven p{
    text-align: justify;
    padding: 20px 20px 0px 20px;
}

.CardOne:hover {
    background-image: url(../assets/Creative-Design-Hover.png);
    background-color: rgba(223, 223, 223, 0.678);
    transition: .5s all ease-in-out;
    scale: 102%;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100rem 100rem;
}

.CardTwo:hover {
    background-image: url(../assets/Web-Development-Hover.png);
    background-color: rgba(223, 223, 223, 0.678);
    transition: .5s all ease-in-out;
    scale: 102%;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100rem 100rem;
}

.CardThree:hover {
    background-image: url(../assets/Digital-Marketing-Hover.png);
    transition: .5s all ease-in-out;
    background-color: rgba(223, 223, 223, 0.678);
    scale: 102%;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100rem 100rem;
}
.CardFour:hover {
    background-image: url(../assets/Mobile-App-Hover.png);
    background-color: rgba(223, 223, 223, 0.678);
    transition: .5s all ease-in-out;
    scale: 102%;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100rem 100rem;
}
.CardFive:hover {
    background-image: url(../assets/Video-Production-Hover.png);
    background-color: rgba(223, 223, 223, 0.678);
    transition: .5s all ease-in-out;
    scale: 102%;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100rem 100rem;
}
.CardSix:hover {
    background-image: url(../assets/Content-Writing-Hover.png);
    background-color: rgba(223, 223, 223, 0.678);
    transition: .5s all ease-in-out;
    scale: 102%;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100rem 100rem;
}
.CardSeven:hover {
    background-image: url(../assets/Cyber-Security-Hover.png);
    background-color: rgba(223, 223, 223, 0.678);
    transition: .5s all ease-in-out;
    scale: 102%;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100rem 100rem;
}
@media screen and (max-width: 395px){
    .CardTwo, .CardOne, .CardThree, .CardFour, .CardFive, .CardSix, .CardSeven{
        margin: 30px 0px;
        width: 20rem;
        min-height: 90vh;
    }
}
@media screen and (max-width: 850px) {
    .CardTwo, .CardOne, .CardThree,  .CardFour, .CardFive, .CardSix, .CardSeven{
        margin: 30px 0px;
        min-height: 55vh;
        padding: 0px 0px 20px 0px;
    }
}
@media screen and (max-width:1200px) {
    .CardTwo, .CardOne, .CardThree, .CardFour, .CardFive, .CardSix, .CardSeven
    {
        margin: 30px 10px;
        padding: 0px 0px 20px 0px;
        min-height: 55vh;
    }
}